{% extends 'base.html.twig' %} {% block body %}
<div class="container">
    <p class="text-center"></p>
    <h2> Soy la pagina de provincias</h2>

    <div>
        <a class="btn btn-primary" href="/home"> Aqui iran las provincias</a>
    </div>
</div>
{% endblock %} {% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}"> {% endblock %}